<p class="gc-activity-title">
  <a href="{{link}}" target="_blank">{{title}}</a> |  <em>{{date}}</em>
</p>
<p>
  {{previewContent}} <em><a href="{{link}}" target="_blank"> ...continue reading.</a></em>
</p>

