{{#each this}}
  <p class="gc-activity-title">
    <a href="https://github.com/{{link}}/commit/{{hash}} target="_blank">{{truncatedHash}}</a> | <em>{{date}}</em>
  </p>
  <p>
    {{message}}
  </p>
{{/each}}

